@model SacramentMeetingPlanner.Models.Meeting

@{
    ViewData["Title"] = "Edit Agenda";
}

<h1>Edit Sacrament Meeting Agenda</h1>

<h4>Meeting Details</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MeetingId" />
            <div class="form-group">
                <label asp-for="MeetingDate" class="control-label"></label>
                <input asp-for="MeetingDate" class="form-control" />
                <span asp-validation-for="MeetingDate" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Presiding" class="control-label"></label>
                <input asp-for="Presiding" class="form-control" />
                <span asp-validation-for="Presiding" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Conducting" class="control-label"></label>
                <input asp-for="Conducting" class="form-control" />
                <span asp-validation-for="Conducting" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label class="control-label">Opening Hymn Name</label>
                <input asp-for="@Model.Hymns[0].HymnName" class="form-control" maxlength="60" minlength="3" />
                <span asp-validation-for="Hymns[0].HymnName" class="text-danger"></span>
                <br />

                <label class="control-label">Opening Hymn Page Number</label>
                <input type="number" asp-for="@Model.Hymns[0].HymnPage" class="form-control" min="0" max="400"/>
                <span asp-validation-for="Hymns[0].HymnPage" class="text-danger"></span>

                <input asp-for="@Model.Hymns[0].HymnType" class="form-control" value="Opening" type="hidden" />
                <input asp-for="@Model.Hymns[0].HymnId" type="hidden" />
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Invocation" class="control-label"></label>
                <input asp-for="Invocation" class="form-control" />
                <span asp-validation-for="Invocation" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label class="control-label">Sacrament Hymn Name</label>
                <input asp-for="@Model.Hymns[1].HymnName" class="form-control" maxlength="60" minlength="3" />
                <span asp-validation-for="Hymns[1].HymnName" class="text-danger"></span>
                <br />

                <label class="control-label">Sacrament Hymn Page Number</label>
                <input type="number" asp-for="@Model.Hymns[1].HymnPage" class="form-control" min="0" max="400" />
                <span asp-validation-for="Hymns[1].HymnPage" class="text-danger"></span>

                <input asp-for="@Model.Hymns[1].HymnType" class="form-control" value="Sacrament" type="hidden" />
                <input asp-for="@Model.Hymns[1].HymnId" type="hidden" />
            </div>
            <br />
            <div class="form-group">
                <label class="control-label">Article of Faith 1 Speaker Name</label>
                <input asp-for="@Model.Talks[0].SpeakerName" class="form-control" maxlength="60" minlength="3" />
                <span asp-validation-for="Talks[0].SpeakerName" class="text-danger"></span>

                <input asp-for="@Model.Talks[0].Topic" class="form-control" value="Article of Faith" type="hidden" />
                <input asp-for="@Model.Talks[0].TalkType" class="form-control" value="AoF1" type="hidden" />
                <input asp-for="@Model.Talks[0].TalkId" type="hidden" />
            </div>
            <br />
            <div class="form-group">
                <label class="control-label">Article of Faith 2 Speaker Name</label>
                <input asp-for="@Model.Talks[1].SpeakerName" class="form-control" maxlength="60" minlength="3" />
                <span asp-validation-for="Talks[1].SpeakerName" class="text-danger"></span>

                <input asp-for="@Model.Talks[1].Topic" class="form-control" value="Article of Faith" type="hidden" />
                <input asp-for="@Model.Talks[1].TalkType" class="form-control" value="AoF2" type="hidden" />
                <input asp-for="@Model.Talks[1].TalkId" type="hidden" />
            </div>
            <br />
            <div class="form-group">
                <label class="control-label">Youth Speaker Name</label>
                <input asp-for="@Model.Talks[2].SpeakerName" class="form-control" maxlength="60" minlength="3" />
                <span asp-validation-for="Talks[2].SpeakerName" class="text-danger"></span>
                <br />

                <label class="control-label">Youth Speaker Topic</label>
                <input asp-for="@Model.Talks[2].Topic" class="form-control" maxlength="60" minlength="3" />
                <span asp-validation-for="Talks[2].Topic" class="text-danger"></span>

                <input asp-for="@Model.Talks[2].TalkType" class="form-control" value="Youth" type="hidden" />
                <input asp-for="@Model.Talks[2].TalkId" type="hidden" />
            </div>
            <br />
            <div class="form-group">
                <label class="control-label">First Speaker Name</label>
                <input asp-for="@Model.Talks[3].SpeakerName" class="form-control" maxlength="60" minlength="3" />
                <span asp-validation-for="Talks[3].SpeakerName" class="text-danger"></span>
                <br />

                <label class="control-label">First Speaker Topic</label>
                <input asp-for="@Model.Talks[3].Topic" class="form-control" maxlength="60" minlength="3" />
                <span asp-validation-for="Talks[3].Topic" class="text-danger"></span>

                <input asp-for="@Model.Talks[3].TalkType" class="form-control" value="First" type="hidden" />
                <input asp-for="@Model.Talks[3].TalkId" type="hidden" />
            </div>
            <br />
            <div class="form-group">
                <label class="control-label">Intermediate Hymn or Special Musical Number</label>
                <div class="radio-div">
                    <label><input type="radio" asp-for="@Model.Hymns[2].HymnType" value="Intermediate" /> Intermediate Hymn</label>
                    <br />
                    <label><input type="radio" asp-for="@Model.Hymns[2].HymnType" value="Special Musical Number" /> Special Musical Number</label>
                </div>

                <label class="control-label">Intermediate Hymn Name or Special Musical Number Performer</label>
                <input asp-for="@Model.Hymns[2].HymnName" class="form-control" maxlength="60" minlength="3" />
                <span asp-validation-for="Hymns[2].HymnName" class="text-danger"></span>
                <br />

                <label class="control-label">Intermediate Hymn Page Number (Leave blank for Special Musical Number)</label>
                <input type="number" asp-for="@Model.Hymns[2].HymnPage" class="form-control" min="0" max="400" />
                <span asp-validation-for="Hymns[2].HymnPage" class="text-danger"></span>

                <input asp-for="@Model.Hymns[2].HymnId" type="hidden" />
            </div>
            <br />
            <div class="form-group">
                <label class="control-label">Second Speaker Name</label>
                <input asp-for="@Model.Talks[4].SpeakerName" class="form-control" maxlength="60" minlength="3" />
                <span asp-validation-for="Talks[4].SpeakerName" class="text-danger"></span>
                <br />

                <label class="control-label">Second Speaker Topic</label>
                <input asp-for="@Model.Talks[4].Topic" class="form-control" maxlength="60" minlength="3" />
                <span asp-validation-for="Talks[4].Topic" class="text-danger"></span>

                <input asp-for="@Model.Talks[4].TalkType" class="form-control" value="Second" type="hidden" />
                <input asp-for="@Model.Talks[4].TalkId" type="hidden" />
            </div>
            <br />
            <div class="form-group">
                <label class="control-label">Closing Hymn Name</label>
                <input asp-for="@Model.Hymns[3].HymnName" class="form-control" maxlength="60" minlength="3" />
                <span asp-validation-for="Hymns[3].HymnName" class="text-danger"></span>
                <br />

                <label class="control-label">Closing Hymn Page Number</label>
                <input type="number" asp-for="@Model.Hymns[3].HymnPage" class="form-control" min="0" max="400" />
                <span asp-validation-for="Hymns[3].HymnPage" class="text-danger"></span>

                <input asp-for="@Model.Hymns[3].HymnType" class="form-control" value="Closing" type="hidden" />
                <input asp-for="@Model.Hymns[3].HymnId" type="hidden" />
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Benediction" class="control-label"></label>
                <input asp-for="Benediction" class="form-control" />
                <span asp-validation-for="Benediction" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label class="control-label">Dismissal Song Name</label>
                <input asp-for="@Model.Hymns[4].HymnName" class="form-control" maxlength="60" minlength="3" />
                <span asp-validation-for="Hymns[4].HymnName" class="text-danger"></span>
                <br />

                <label class="control-label">Dismissal Song Page Number</label>
                <input type="number" asp-for="@Model.Hymns[4].HymnPage" class="form-control" min="0" max="400" />
                <span asp-validation-for="Hymns[4].HymnPage" class="text-danger"></span>

                <input asp-for="@Model.Hymns[4].HymnType" class="form-control" value="Dismissal" type="hidden" />
                <input asp-for="@Model.Hymns[4].HymnId" type="hidden" />
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
